<Uc::Layout>
  <:logo>
    <Uc::Progress
      @steps={{this.steps}}
      @currentStep={{this.currentStep}}
    />
  </:logo>

  <:title>
    {{#if this.isNetworkNameStep}}
      {{t "network_setup.wifi_name.title"}}
    {{/if}}

    {{#if this.isNetworkPasswordStep}}
      {{t "network_setup.wifi_password.title"}}
    {{/if}}

    {{#if this.isApplyingSettingsStep}}
      {{t "network_setup.applying_settings.title"}}
    {{/if}}
  </:title>

  <:description>
    {{#if this.isNetworkNameStep}}
      {{t "network_setup.wifi_name.description"}}
    {{/if}}

    {{#if this.isNetworkPasswordStep}}
      {{t "network_setup.wifi_password.description"}}
    {{/if}}

    {{#if this.isApplyingSettingsStep}}
      {{t "network_setup.applying_settings.description" deviceName=this.currentDevice.data.name htmlSafe=true}}
    {{/if}}
  </:description>

  <:content>
    <main>
      <form
        {{on "submit" (perform this.submitTask)}}
      >
        {{#if this.isNetworkNameStep}}
          <Uc::Input
            local-class="input"
            @label={{t "network_setup.wifi_name.label"}}
            @value={{this.networkName}}
            @onInput={{this.handleNetworkName}}
            @errorMessage={{this.submitTask.last.value.errorMessage}}
            @isError={{this.submitTask.last.value.errorMessage}}
            data-test-network-name
          />
          <Uc::Button
            disabled={{this.isNetworkNameConfirmDisabled}}
            data-test-confirm-button
            type="submit"
          >
            {{t "actions.next"}}
          </Uc::Button>
        {{/if}}

        {{#if this.isNetworkPasswordStep}}
          <Uc::Input
            local-class="input"
            @label={{t "network_setup.wifi_password.label"}}
            @value={{this.networkPassword}}
            @onInput={{this.handleNetworkPassword}}
            data-test-network-password
          />

          <Uc::Button
            disabled={{this.isNetworkPasswordConfirmDisabled}}
            data-test-confirm-button
            type="submit"
          >
            {{t "network_setup.confirm"}}
          </Uc::Button>
        {{/if}}

        {{#if this.isApplyingSettingsStep}}
          <Uc::Spinner local-class="spinner" data-test-spinner />
        {{/if}}
      </form>
    </main>
  </:content>
</Uc::Layout>
