<div local-class="layout">
  <div local-class="layout__header">
    {{yield to="navigation"}}
    {{yield to="logo"}}
    <h1 local-class="layout__title" data-test-layout-title>
      {{yield to="title"}}
    </h1>
    <p local-class="layout__description" data-test-layout-description>
      {{yield to="description"}}
    </p>
  </div>

  {{yield (hash Wrapper=(component "uc/layout/content-wrapper")) to="content"}}
</div>
