{{#if @model}}
  <LinkTo @route={{@route}} @model={{@model}} local-class="link-tile" data-test-link ...attributes>
    {{#if (has-block "icon")}}
      {{yield to="icon"}}
    {{else}}
      <div local-class="icon">
        {{inline-svg @icon}}
      </div>
    {{/if}}
    <p local-class="text">
      {{yield}}
    </p>
  </LinkTo>
{{else}}
  <LinkTo @route={{@route}} local-class="link-tile" data-test-link ...attributes>
    {{#if (has-block "icon")}}
      {{yield to="icon"}}
    {{else}}
      <div local-class="icon">
        {{inline-svg @icon}}
      </div>
    {{/if}}
    <p local-class="text">
      {{yield}}
    </p>
  </LinkTo>
{{/if}}
