<Uc::Layout>
  <:navigation>
    <Uc::Layout::BackNavigation @route="network-map.index" />
  </:navigation>

  <:title>
    {{t "network_map.detail.title"}}
    <p local-class="location-title">
     {{@accessPoint.location}}
    </p>
  </:title>

  <:content as |content|>
    <content.Wrapper>
      <div local-class="summary">
        <Uc::Tile
          local-class="summary__item"
          data-test-detail-summary
          {{did-insert (perform this.loadHealthChecksTask @accessPoint.serialNumber)}}
        >
          <:title>
            <Uc::DeviceWithStatus
              @icon="/assets/images/icons/router.svg"
              @health={{this.loadHealthChecksTask.lastSuccessful.value.values.lastObject.sanity}}
            />
          </:title>
          <:caption>
            {{t "network_map.detail.health"}}
          </:caption>
        </Uc::Tile>

        <Uc::Tile
          local-class="summary__item"
          data-test-connected-devices-summary
        >
          <:title>
            {{or @connectedDevices.length 0}}
          </:title>
          <:caption>
            {{t "network_map.connected_devices"}}
          </:caption>
        </Uc::Tile>
      </div>
    </content.Wrapper>

    <ul local-class="device-list">
      {{#each @connectedDevices as |device|}}
        <li data-test-device local-class="device-list__item">
          <span local-class="device-list__item-icon">{{inline-svg "/assets/images/icons/device.svg"}}</span>
          <span local-class="device-list__item-name" data-test-device-name>{{or device.name device.ipAddress device.macAddress}}</span>
        </li>
      {{/each}}
    </ul>
  </:content>
</Uc::Layout>
