<Uc::Layout>
  <:navigation><Uc::Layout::BackNavigation @route="network-settings" /></:navigation>
  <:title>{{t "network_settings.wifi_password.title"}}</:title>
  <:description><b>{{this.currentDevice.data.name}}</b></:description>

  <:content as |content|>
    <content.Wrapper>
      <form {{on "submit" (perform this.submitTask)}}> 
        <Uc::PasswordInput
          local-class="input"
          @label={{t "network_settings.wifi_password.current_password_label"}}
          @value={{this.currentNetworkPassword}}
          @onInput={{this.handleCurrentNetworkPassword}}
          data-test-network-password-current
        />

        <Uc::PasswordInput
          local-class="input"
          @label={{t "network_settings.wifi_password.new_password_label"}}
          @value={{this.newNetworkPassword}}
          @onInput={{this.handleNewNetworkPassword}}
          @isError={{this.passwordNotMatchingError}}
          @errorMessage={{this.passwordNotMatchingError}}
          data-test-network-password
        />
        <Uc::PasswordInput
          local-class="input"
          @label={{t "network_settings.wifi_password.repeat_new_password_label"}}
          @value={{this.newNetworkPasswordRepeat}}
          @onInput={{this.handleNewNetworkPasswordRepeat}}
          @isError={{this.passwordNotMatchingError}}
          @errorMessage={{this.passwordNotMatchingError}}
          data-test-network-password-repeat
        />
        <Uc::Button
          @isLoading={{this.submitTask.isRunning}}
          data-test-confirm-button
          type="submit"
        >
          {{t "network_settings.wifi_password.submit"}}
        </Uc::Button>
      </form>
    </content.Wrapper>
  </:content>
</Uc::Layout>
